/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 10 version
*/

.page-container {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
        grid-template-areas: 
        "header"
        "why-thrive"
        "about-us"
        "grid1"
        "physical-health"
        "nutritional-plans"
        "contacts"
        "pre-footer"
        "footer";
}

@media all and (max-width: 480px) {
    .page-container {
            grid-template-areas: 
            "header"
            "why-thrive"
            "physical-health"
            "about-us"
            "grid1"
            "contacts"
            "nutritional-plans"            
            "pre-footer"
            "footer";
    }
}

.header {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 1;
    grid-row: 1;
    grid-area: header;
}
.why-thrive {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 2;
    grid-row: 2;
    grid-area: why-thrive;
}
.about-us {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 3;
    grid-row: 3;
    grid-area: about-us;
}
.grid1 {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 4;
    grid-row: 4;
    grid-area: grid1;
}
.physical-health {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 5;
    grid-row: 5;
    grid-area: physical-health;
}
.nutritional-plans {
    -ms-grid-row: 6;
    -ms-grid-column: 1;
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 6;
    grid-row: 6;
    grid-area: nutritional-plans;
}
.contacts {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 7;
    grid-row: 7;
    grid-area: contacts;
}
.pre-footer {
    -ms-grid-row: 8;
    -ms-grid-column: 1;
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 8;
    grid-row: 8;
    grid-area: pre-footer;
}
.footer {
    -ms-grid-row: 9;
    -ms-grid-column: 1;
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 9;
    grid-row: 9;
    grid-area: footer;
}
@media all and (max-width: 480px) {
    .header {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }
    .why-thrive {
        -ms-grid-row: 2;
        -ms-grid-column: 1;
    }
    .about-us {
        -ms-grid-row: 4;
        -ms-grid-column: 1;
    }
    .grid1 {
        -ms-grid-row: 5;
        -ms-grid-column: 1;
    }
    .physical-health {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
    }
    .nutritional-plans {
        -ms-grid-row: 7;
        -ms-grid-column: 1;
    }
    .contacts {
        -ms-grid-row: 6;
        -ms-grid-column: 1;
    }
    .pre-footer {
        -ms-grid-row: 8;
        -ms-grid-column: 1;
    }
    .footer {
        -ms-grid-row: 9;
        -ms-grid-column: 1;
    }
}