section.about 
  .container
    .section-heading
      h2.section-heading__title About us 
      p.section-heading__text We are added our major Services 

    ul.about__list 
      li.about__item
        .icon.icon-like 
        h3.about__header facebook marketing 
        p.about__description Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cum laborum magnam hic asperiores quos id quasi exercitationem voluptas explicabo illo?
      li.about__item
        .icon.icon-book
        h3.about__header landing pages creating
        p.about__description Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus, molestias distinctio! Porro deserunt alias eos ipsum. Id voluptatem minima officia?
      li.about__item
        .icon.icon-message 
        h3.about__header ads management
        p.about__description Lorem, ipsum dolor sit amet consectetur adipisicing elit. Obcaecati ea sit dicta amet, porro quos adipisci aspernatur at totam mollitia