section.approuch 
  .container 
    .section-heading 
      h2.section-heading__title our Approch 
      p.section-heading__text Lorem ipsum dolor sit amet lorem ipsum dolor sit amet
    ul.list.approuch__list 
      li.list__item.approuch__item 
        .approuch__image 
          img(src="../../images/step-1.jpg" alt="spet-1")
        .approuch__text 
          h2.approuch__title step 1 : heading here 
          p.approuch__description Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos illum accusantium, nostrum magni sunt sequi sapiente porro officia voluptates veritatis ipsam explicabo sed cum perferendis assumenda excepturi expedita reprehenderit nemo! 
      li.list__item.approuch__item 
        .approuch__image 
          img(src="../../images/step-2.jpg" alt="spet-2")
        .approuch__text 
          h2.approuch__title step 2 : heading here 
          p.approuch__description Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos illum accusantium, nostrum magni sunt sequi sapiente porro officia voluptates veritatis ipsam explicabo sed cum perferendis assumenda excepturi expedita reprehenderit nemo! 
      li.list__item.approuch__item 
        .approuch__image 
          img(src="../../images/step-3.jpg" alt="spet-3")
        .approuch__text 
          h2.approuch__title step 3 : heading here 
          p.approuch__description Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos illum accusantium, nostrum magni sunt sequi sapiente porro officia voluptates veritatis ipsam explicabo sed cum perferendis assumenda excepturi expedita reprehenderit nemo! Lorem ipsum dolor sit amet consectetur adipisicing elit. 
      li.list__item.approuch__item 
        .approuch__image 
          img(src="../../images/step-4.jpg" alt="spet-4")
        .approuch__text 
          h2.approuch__title step 4 : heading here 
          p.approuch__description Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos illum accusantium, nostrum magni sunt sequi sapiente porro officia voluptates veritatis ipsam explicabo sed cum perferendis assumenda excepturi expedita reprehenderit nemo! Lorem ipsum dolor sit amet consectetur adipisicing elit. 