header.header 
  .header__top 
    .container
      include ../components/contacts
  
  .container
    .header__bottom
      .logo: img.logo__picture(src="images/logo.png" alt="Business logo")
      include ../components/navigation
      a.btn.header__btn.btn--red(href="#") free consultation