section.work 
  .container 
    .section-heading 
      h2.section-heading__title our works 
      p.section-heading__text Lorem ipsum dolor sit amet lorem 
    ul.gallery.work__gallery 
      li.gallery__cell.gallery__cell--text
        h3.gallery__title project name 
        p.gallery__description Facebook marketing 
      li.gallery__cell.gallery__cell--img
        img(src="../../images/step-1.jpg" alt="step-1")
      li.gallery__cell.gallery__cell--text 
        h3.gallery__title project name 
        p.gallery__description Facebook marketing 
      li.gallery__cell.gallery__cell--img 
        img(src="../../images/work-2.jpg" alt="step-2")
      li.gallery__cell.gallery__cell--img 
        img(src="../../images/work-3.jpg" alt="step-3")
      li.gallery__cell.gallery__cell--text 
        h3.gallery__title project name 
        p.gallery__description Facebook marketing       
      li.gallery__cell.gallery__cell--img 
        img(src="../../images/work-4.jpg" alt="step-4")
      li.gallery__cell.gallery__cell--text 
        h3.gallery__title project name 
        p.gallery__description Facebook marketing  