section.prefooter
  .container
    h2.prefooter__heading Get in touch 
    ul.prefooter__icons.list 
      li.prefooter__icon
        a.prefooter__link.list__link(href="facebook.com")
          i.fa.fa-facebook
      li.prefooter__icon
        a.prefooter__link.list__link(href="twitter.com")
          i.fa.fa-twitter
      li.prefooter__icon
        a.prefooter__link.list__link(href="google.com")
          i.fa.fa-google-plus
      li.prefooter__icon       
        a.prefooter__link.list__link(href="instagram.com")
          i.fa.fa-instagram
    form.form.prefooter__form(method="post" action="#")
      p.form__description.prefooter__description Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, suscipit.
      input.form__input.prefooter__input(type="text" placeholder="email address")
      button.form__button.prefooter__button(type="submit") subscribe
      