.form-section {
  padding: 5rem;
  background-color: $color-blue;
  color: $color-white;

  .section-heading {
    margin-bottom: 1rem;
    color: $color-white;
  }
  .section-heading::after {
    display: none;
  }
  .btn__circle {
    margin: 0 auto;
    margin-bottom: 3rem;
  }

  &__form {
    width: 60%;
    min-width: 700px;
    margin: 0 auto;
    padding: 2rem 4rem 5rem;
    border-radius: $br-px;
    background-color: $color-white;
  }

  &__close-btn {
    position: absolute;
    top: -20px;
    right: -20px;
    border: 2px solid $color-white;
    background-color: $color-red;
    color: $color-white;
    font-size: 1.6rem;
    cursor: pointer;
    transition-property: background-color, color, border-color;
    transition-duration: .3s;

    &:hover,
    &:focus {
      border-color: darken($color-white, 15%);
      background-color: lighten($color-red, 10%);
      color: darken($color-white, 15%);
    }
  }

  &__text {
    margin: 2rem 0;
    text-align: center;
  }

  &__inputs {
    width: 80%;
  }
}