.header {
  &__top {
      background-color: $bg--light-gray;
      border-bottom: 1px solid $bg--gray;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 41px 0 32px;
  }
}

.contacts {
  text-align: right;
}

.contact {
  display: inline-block;
  vertical-align: top;
  padding: 10px 10px 8px;
  color: $color-dark;
  transition-duration: $speed-transition;

  &:hover {
    color: lighten($color-dark, $rate-lighten);
  }

  &:first-child {
    margin-right: 8px;
    padding-right: 18px;
    border-right: 1px solid $bg--gray;
  }

  &__icon {
    margin-right: 7px;
    vertical-align: middle;
    font-size: 1.5rem;

    &--email {
      font-size: 1.2rem;
    }

    &--facebook {
      display: inline-block;
      padding: 5px 8px 1px;
      border-radius: $br-px;
      background-color: $color-blue;
      color: $color-white;
    }
  }
}
