.prefooter {
  padding: 3rem 1rem;
  background-color: $color-dark;
  color: $color-white;

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__heading {
    letter-spacing: 1.2;
  }

  &__icons {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    margin-right: 1rem;
    border: 1px solid $bg--light-gray;
    border-radius: $br-px;
    cursor: pointer;
    transition-property: border-color;
    transition-duration: .3s;

    &:last-child {
      margin-right: 0;
    }

    &:hover,
    &:focus {
      border-color: $color-red;
    }
  }

  &__link {
    display: inline-block;
    font-size: 1.5rem;
    color: $color-white;
    transition-property: color;
    transition-duration: .3s;

    &:hover,
    &:focus {
      color: $color-red;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
  }

  &__description {
    margin: 2rem 0;
    font-family: $ff-main-light;
    font-size: 1rem;
  }

  &__input {
    border-color: lighten($color-dark, 10%);
    background-color: lighten($color-dark, 10%);
  }

  &__button {
    border: 2px solid lighten($color-dark, 10%);
    border-radius: $br-px;
    background-color: $color-dark;
    font-family: $ff-main-bold;
    font-size: 1.6rem;
    letter-spacing: .25em;
    text-transform: capitalize;
    transition-property: color, border-color;
    transition-duration: .3s;

    &:hover,
    &:focus {
      color: $color-red;
      border-color: $color-red;
    }
  }
}