$ff-main: 'helvetica-neue-regular';
$ff-main-bold: 'helvetica-neue-bold';
$ff-main-light: 'helvetica-neue-light';
$ff-steps: 'georgia-bold';

$bg--light-gray: #f0f2f4;
$bg--gray: #e2e2e2;

$color-red: #de2b24;
$color-yellow: #f8cd53;
$color-white: #fff;
$color-dark: #424242;
$color-blue: #1287bf;
$color-text: #5c5c5c;

$speed-transition: .3s;

$rate-lighten: 10%;

$br-px: 3px;
$br-circle: 50%;