.btn {
  display: inline-block;
  padding: 10px 22px 7px;
  border-radius: $br-px;
  color: $color-white;
  text-decoration: none;
  text-transform: capitalize;
  transition-duration: $speed-transition;

  &--red {
    background-color: $color-red;

    &:hover {
      background-color: lighten($color-red, $rate-lighten);
    }
  }

  &--yellow {
    background-color: $color-yellow;
    text-transform: uppercase;

    &:hover {
      background-color: lighten($color-yellow, $rate-lighten);
    }
  }
}

.btn__circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 3px solid $color-white;
  cursor: pointer;
}

.btn__arrow-down {
  font-size: 2rem;
}



