.form {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: $ff-main-light;
  font-size: 1.2rem;
  color: lighten($color-text, 20%);

  &__inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__input {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 2rem;
    border-radius: $br-px;
    border: 1px solid $bg--gray;

    &:last-child {
      margin-bottom: 0;
    }

    &::placeholder {
      font-size: 1.4rem;
      color: lighten($color-text, 20%);
      text-transform: capitalize;
    }

    &:hover,
    &:focus {
      outline: none;
      border: 1px solid $color-blue;
      box-shadow: 0 0 8px 1px rgba(0,0,0,.5);
    }
  }

  &__button {
    margin-top: 3rem;
    padding: 1.5rem 4rem;
    border: none;
    font-family: $ff-main;
    letter-spacing: 2;
    line-height: 1;
    text-transform: uppercase;
    color: $color-white;
  }
}