/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 10 version
*/

.header {
    padding: 10px 0 20px;
}
.header > .section-container {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.nav__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.nav__item {
    margin-right: 2rem;
}
.nav__item:last-child {
    margin-right: 0;
}
.nav__link {
    padding-bottom: 4px;
    text-transform: capitalize;
    font-size: 1.4rem;
    cursor: pointer;
    -webkit-transition: color .5s ease-out;
    -o-transition: color .5s ease-out;
    transition: color .5s ease-out;
}
.nav__link_active {
    border-bottom: 1px solid var(--accent);
    font-weight: 600;
}
.nav__link:hover,
.nav__link:focus {
    color: var(--accent);
}

.btn {
    display: block;
    padding: 14px 30px;
    border: none;
    background-color: transparent;
    border-radius: 50px;
    text-transform: uppercase;
}
.btn-contact {
    border: 1px solid var(--accent);
    background-color: var(--accent);
    color: var(--light);
    cursor: pointer;
    -webkit-transition-property: background-color, color;
    -o-transition-property: background-color, color;
    transition-property: background-color, color;
    -webkit-transition-duration: .5s;
         -o-transition-duration: .5s;
            transition-duration: .5s;
    -webkit-transition-timing-function: ease-out;
         -o-transition-timing-function: ease-out;
            transition-timing-function: ease-out; 

}
.btn-contact:hover {
    background-color: transparent;
    color: var(--accent);
}
.btn-contact:focus {
    background-color: transparent;
    color: var(--accent);
    outline: none;
}


@media all and (max-width: 768px) {
    .header {
        padding: 1rem 0;
    }
    .header > .section-container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .logo, 
    .nav {
        margin-bottom: 3%;
    }
}