.contacts 
  a.contact(href="tel:+375295000000")
    i.fa.fa-mobile.contact__icon(aria-hidden="true")
    span.contact__text 5123 4567
  a.contact(href="mailto:info@business.co")
    i.fa.fa-envelope.contact__icon.contact__icon--email(aria-hidden="true")
    span.contact__text info@business.co
  a.contact(href="facebook.com")
    i.fa.fa-facebook.contact__icon.contact__icon--facebook(aria-hidden="true")